/Prvi zadatak/truba_C4 (261Hz).wav
/Prvi zadatak/violina_G5 (784Hz).wav
/Drugi zadatak/y2.wav
/.idea/Други домаћи задатак.iml
/Други домаћи задатак.pdf
/y1_speech.wav
/Furijeova transformacija i spektrogram.pdf
/Prvi zadatak/flauta_C5 (523Hz).wav
/Prvi zadatak/klavir_G4 (392Hz).wav
/vowel_cache_v.wav
/steps/
